.link {
    color: inherit !important;
    text-transform: none !important;
    font-weight: 400 !important;

    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.link:hover {
    text-transform: none !important;
    color: var(--primary-main) !important;
}

@media (max-width: 692px){
    .link {
        font-size: large !important;
    }
}


.banned-link {
    color: var(--red-light) !important;
}

.banned-link:hover {
    color: var(--red-vivid) !important;
}


.success-link {
    color: var(--green-main) !important;
}

.success-link:hover {
    color: var(--green-vivid) !important;
}


.muted-link {
    color: var(--muted-light) !important;
}

.muted-link:hover {
    color: var(--muted-dark) !important;
}