@model EmailService.ViewModels.CallbackEmailViewModel

<h2>Reset password</h2>
<br>

<p class="t-24" id="name">Hey @Model.Name!</p>
<p class="t-16">First you ned to confirm your account. Just press the button below.</p>

<div class="pt-3 mb-3 text-center">
    <a href="@Model.CallbackUrl" class="btn btn-primary" id="link">Reset password</a>
</div>