@model MailService.ViewModels.ConfirmAccountEmailViewModel

<h2>Welocme to Kickstarter!</h2>
<br>

<p class="t-24" id="name">Hey @Model.Name!</p>
<p class="t-16">We're excited to have you get started. First you ned to confirm your account. Just press the button below.</p>

<div class="pt-3 mb-3 text-center">
    <a href="@Model.CallbackUrl" class="btn btn-primary" id="link">Confirm Account</a>
</div>
<br>

<p class="t-16">If you have any questions, just reply to this email - we're always happy to help out.</p>

<hr class="mt-4 mb-4">
<p class="text-muted">The Kickstarter Team</p>
