@model Identity.API.Models.ManageViewModels.ForgotPasswordViewModel
<link rel="stylesheet" href="~/css/login-register.css"/>

<div class="new-container mx-auto">
    <p class="text-center">
        Enter email which you use for log in, we'll send link to change password.
    </p>
    <form asp-action="ForgotPassword">
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input asp-for="Email" type="email" class="form-control" placeholder="example@@kickstarter.com">
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>