@model Identity.API.Models.ManageViewModels.LoginViewModel
<link rel="stylesheet" href="~/css/login.css"/>

<div class="new-container mx-auto">
	<div class="form-new-container sign-in-new-container">
		<form asp-controller="Account" asp-action="Login">
			@Html.AntiForgeryToken()
			
			<input type="hidden" asp-for="ReturnUrl" />
			
			<h1 class="title">Sign in</h1>
			<partial name="SocialSignIn" model="Model"/>
			<span>or use your account</span>
			
			<input type="email" class="form-control" placeholder="Username" asp-for="UserName" autofocus>
			<span asp-validation-for="UserName" class="text-right text-danger"></span>
			<input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
			<span asp-validation-for="Password" class="text-right text-danger"></span>
			
			<a asp-action="ForgotPassword" class="link">Forgot your password?</a>
			
			<button name="button" value="login">Sign In</button>
			
		</form>
		<div class="message text-center">
			<p >Don't have an account?<a asp-action="Register" class="link">Sign Up!</a></p>
		</div>
	</div>
</div>