@model Identity.API.Models.AccountViewModels.ResetPasswordViewModel

<link rel="stylesheet" href="~/css/login.css"/>

<div class="new-container mx-auto">
    @* <div class="form-new-container sign-in-new-container form"> *@
    @*     <form asp-action="ForgotPassword" class="py-5"> *@
    @*         @Html.AntiForgeryToken() *@
    @*         <input type="hidden" asp-for="UserId" /> *@
    @*         <input type="hidden" asp-for="ReturnUrl"/> *@
    @*          *@
    @*         <h1 class="title pb-4">Reset password</h1> *@
    @*         <div class="mt-4"> *@
    @*             <p class="text-center"> *@
    @*                 Enter new password. *@
    @*             </p> *@
    @* *@
    @*             <div class="form-group"> *@
    @*                 <label>New password</label> *@
    @*                 <input asp-for="Password" type="password" class="form-control"> *@
    @*                 <span asp-validation-for="Password" class="text-danger ml-3"></span> *@
    @*             </div> *@
    @*          *@
    @*             <div class="form-group"> *@
    @*                 <label>Confirm password</label> *@
    @*                 <input asp-for="ConfirmPassword" type="password" class="form-control"> *@
    @*                 <span asp-validation-for="ConfirmPassword" class="text-danger ml-3"></span> *@
    @*             </div> *@
    @* *@
    @*         </div> *@
    @*         <button name="button" value="login" class="mb-3">Submit</button> *@
    @*     </form> *@
    @*     <div class="message text-center"> *@
    @*         <p>Back to <a asp-action="Login" class="link">Sign in</a></p> *@
    @*     </div> *@
    @* </div> *@
    
    <div class="form-new-container sign-in-new-container form">
        <form asp-action="ResetPassword" class="py-5">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Token" />
                
            <h1 class="title pb-4">Reset password</h1>
            <div class="mt-4">
                <p class="text-center">
                    Enter new password.
                </p>
    
                <div class="form-group">
                    @* <label asp-for="Password">New password</label> *@
                    <input asp-for="Password" type="password" class="form-control" placeholder="New password">
                    <span asp-validation-for="Password" class="text-danger ml-3"></span>
                    
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger ml-3"></span>
                </div>
                
                @* <div class="form-group"> *@
                @*     $1$ <label asp-for="ConfirmPassword">Confirm password</label> #1# *@
                @*     <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password"> *@
                @*     <span asp-validation-for="ConfirmPassword" class="text-danger ml-3"></span> *@
                @* </div> *@
                @* <div class="form-group row"> *@
                @*     <div class="input-group"> *@
                @*         <div class="input-group-prepend label"> *@
                @*             <span class="input-group-text">New password:</span> *@
                @*         </div> *@
                @*         <input asp-for="Password" type="password" class="form-control"> *@
                @*     </div> *@
                @*     <span asp-validation-for="Password" class="text-danger ml-3"></span> *@
                @* </div> *@
                @* *@
                @* <div class="form-group row"> *@
                @*     <div class="input-group"> *@
                @*         <div class="input-group-prepend label"> *@
                @*             <span class="input-group-text">Confirm password:</span> *@
                @*         </div> *@
                @*         <input asp-for="ConfirmPassword" type="password" class="form-control"> *@
                @*     </div> *@
                @*     <span asp-validation-for="ConfirmPassword" class="text-danger ml-3"></span> *@
                @* </div> *@
            </div>
            <button name="button" value="login" class="mb-3">Change password</button>
        </form>
        <div class="message text-center">
            <p>Back to <a asp-action="Login" class="link">Sign in</a></p>
        </div>
    </div>
</div>